# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local state for PR generation
# Do not remove, .ironsha should not be included in git
# Visual evidence should still be placed here and PR descrptions should still link to it. The publish script will handle uploading the evidence to github properly.
.ironsha/*

# PR plan files
.plan.md

.worktrees/
.cache/
